.fighter-preview___root {
  display: flex;
  flex-direction: column;
  height: 250px;
  box-sizing: border-box;
  font-family: arial;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.fighter-preview___right {
  align-items: flex-end;
   
}

.fighter-preview___left {
  align-items: flex-start;
  
}
